{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block content %}
<h1>Proizvodi</h1>

<p><a href="{{ url_for('add_product') }}">Dodaj proizvod</a></p>

<form method="get" action="{{ url_for('list_products') }}">
    <p>
        <label>Brand:
            <select name="brand">
                <option value="">-- all brands --</option>
                {% for b in brand_options %}
                    <option value="{{ b }}"
                        {% if brand_filter == b %}selected{% endif %}>
                        {{ b }}
                    </option>
                {% endfor %}
            </select>
        </label>
        &nbsp;&nbsp;
        <label>Category:
            <select name="category">
                <option value="">-- all categories --</option>
                {% for c in category_options %}
                    <option value="{{ c }}"
                        {% if category_filter == c %}selected{% endif %}>
                        {{ c }}
                    </option>
                {% endfor %}
            </select>
        </label>
        &nbsp;&nbsp;
        <label>Pretraga po imenu:
            <input type="text" name="search"
                   value="{{ search_term or '' }}">
        </label>
        &nbsp;&nbsp;
        <button type="submit">Apply</button>
        <a href="{{ url_for('list_products') }}">Clear</a>
    </p>
</form>

<table border="1" cellpadding="4">
    <tr>
        <th>Fotografija</th>
        <th>Naziv proizvoda</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Trenutna cena</th>
        <th>Popust cena</th>
        <th>Actions</th>
    </tr>
{% for p in products %}
<tr>
    <td style="text-align: center;">
    {% if it.item_photo_path %}
        <img src="{{ url_for('product_image', filename=it.item_photo_path) }}"
            style="max-width: 60px; max-height: 60px;">
    {% endif %}
    </td>
    <td>
        <a href="{{ url_for('edit_product', product_id=p.id) }}">
            {{ p.name }}
        </a>
    </td>
    <td>{{ p.category }}</td>
    <td>{{ p.brand }}</td>
    <td>
        {% if p.current_price is not none %}
            {{ format_amount(p.current_price) }}
        {% endif %}
    </td>
    <td>
        {% if p.current_discount_price is not none %}
            {{ format_amount(p.current_discount_price) }}
        {% endif %}
    </td>
    <td>
        <a href="{{ url_for('price_history', product_id=p.id) }}">Istorija Cena</a> |
        <a href="{{ url_for('edit_product', product_id=p.id) }}">Edit</a> |
        <form method="post"
            action="{{ url_for('delete_product', product_id=p.id) }}"
            style="display:inline;"
            onsubmit="return confirm('OBRISATI proizvod i SVE njegove cene?\nOvo se NE može poništiti.');">
            <button type="submit">Delete</button>
        </form>
    </td>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
