<!doctype html>
<html lang="en" data-theme="{{ theme|default('dark') }}">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Offers{% endblock %}</title>
    <link rel="icon" type="image/png" href="/app_assets/favicon.png">

    {# Only load main.css for normal UI pages, not for PDF rendering #}
    {% if pdf_mode is not defined or not pdf_mode %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
    <!-- SortableJS (drag and drop) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    {% endif %}
</head>

<body>
    {% if pdf_mode is not defined or not pdf_mode %}
    <nav>
        <div class="nav-links">
            <a href="{{ url_for('list_offers') }}" {% if request.endpoint=='list_offers' %}class="active" {% endif %}>{{
                _('Offers') }}</a>
            <a href="{{ url_for('compare_offers') }}" {% if request.endpoint=='compare_offers' %}class="active" {% endif
                %}>{{ _('Compare Offers') }}</a>
        </div>
        <div class="nav-right">
            <a href="{{ url_for('settings') }}" {% if request.endpoint=='settings' %}class="active" {% endif %}>{{
                _('Settings') }}</a>
            <a href="/" {% if request.endpoint=='index' and not request.path.startswith('/offer') %}class="active" {%
                endif %}>{{ _('Landing Page') }}</a>
            <div class="nav-logo-container">
                <img src="{{ url_for('static', filename='img/logo_company.jpg') }}" alt="CustomCRM Logo"
                    class="nav-logo">
            </div>
        </div>
    </nav>
    <hr>
    {% endif %}

    {% block content %}{% endblock %}

    {% if pdf_mode is not defined or not pdf_mode %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Initialize Tom Select on elements with .searchable-select class
            document.querySelectorAll('.searchable-select').forEach((el) => {
                new TomSelect(el, {
                    create: false,
                    sortField: {
                        field: "text",
                        direction: "asc"
                    }
                });
            });
        });
    </script>
    {% endif %}
</body>

</html>