{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<h1>Settings</h1>
<div class="card">
    <form method="post">
        <p>
            <label>Format datuma:<br>
                <select name="date_format">
                    <option value="YYYY-MM-DD" {% if current_date_format=='YYYY-MM-DD' %}selected{% endif %}>YYYY-MM-DD
                        (Standard)</option>
                    <option value="DD/MM/YYYY" {% if current_date_format=='DD/MM/YYYY' %}selected{% endif %}>DD/MM/YYYY
                    </option>
                    <option value="DD.MM.YYYY" {% if current_date_format=='DD.MM.YYYY' %}selected{% endif %}>DD.MM.YYYY
                    </option>
                    <option value="MM/DD/YYYY" {% if current_date_format=='MM/DD/YYYY' %}selected{% endif %}>MM/DD/YYYY
                    </option>
                </select>
            </label>
        </p>
        <p>
            <label>Tema aplikacije:<br>
                <select name="theme">
                    <option value="dark" {% if current_theme=='dark' %}selected{% endif %}>Tamna (Dark)</option>
                    <option value="light" {% if current_theme=='light' %}selected{% endif %}>Svetla (Light)</option>
                </select>
            </label>
        </p>
        <button type="submit" class="btn btn-success">Sačuvaj podešavanja</button>
    </form>
</div>

<div class="card">
    <div style="display: flex; justify-content: flex-end;">
        <a href="{{ url_for('logout') }}" class="btn btn-danger">
            Odjavi se
        </a>
    </div>
</div>

{% endblock %}