<div class="footer-wrapper">
    <table class="footer-table">
        <tr>
            <td class="footer-left" style= "width:40%;text-align:left;">
                <strong>tel:</strong> +381 11 8075 777<br>
                <strong>mob:</strong> +381 63 242 314<br>
                <strong>e-mail:</strong> office@hofmann-srbija.com<br>
                <strong>web site:</strong> www.hofmann-srbija.rs
            </td>
            <td class="footer-right" style="width:40%;text-align:right;">
                <strong>TR:</strong> 220-21678-48<br>
                <strong>TR:</strong> 205-241423-21<br>
                <strong>PIB:</strong> SR 101030495<br>
                <strong>Matični broj:</strong> 07775911
            </td>
        </tr>
    </table>
</div>