<table style="width:100%; border-collapse:collapse;">
    <tr>
        <!-- Logo -->
        <td style="width:20%; vertical-align:middle;">
            {% if pdf_mode %}
                <img src="{{ logo_uri }}" style="max-height:35px;">
            {% else %}
                <img src="{{ url_for('app_asset', filename='logo_company.jpg') }}"
                     style="max-height:50px;">
            {% endif %}
        </td>

        <!-- Right info block -->
        <td style="width:30%; vertical-align:middle;">
            <strong>PIB:</strong> SR 101030495<br>
            <strong>Matični broj:</strong> 07775911<br>
            <strong>PDV broj:</strong> 130505776<br>
            <strong>Šifra delatnosti:</strong> 4690<br>
        </td>

        <!-- Right info block -->
         <td style="width:50%; vertical-align:middle;">
            <strong>Adresa:</strong> 10. Oktobra 3, 11262, Velika Moštanica, Srbija<br>
            <strong>Tel:</strong> +381 11 8075 777<br>
            <strong>Mob:</strong> +381 63 242 314<br>
            <strong>E-mail:</strong> office@hofmann-srbija.com<br>
            <strong>Web:</strong> www.hofmann-srbija.rs
        </td>

    </tr>
</table>
<hr>