{% extends "base.html" %}
{% block title %}Offers{% endblock %}

{% block content %}
<h1>Pregled ponuda</h1>

<form method="get" action="{{ url_for('list_offers') }}">
    <p>
        <label>Od datuma:
            <input type="date" name="date_from" value="{{ date_from or '' }}" onchange="this.form.submit()">
        </label>
        &nbsp;&nbsp;
        <label>Do datuma:
            <input type="date" name="date_to" value="{{ date_to or '' }}" onchange="this.form.submit()">
        </label>
    </p>
    <p>
        <label>Pretraga (ime musterije ili broj / ime ponude):<br>
            <input type="text" name="search" value="{{ search_term or '' }}" onchange="this.form.submit()">
        </label>
        <button type="submit">Pretraga</button>
        <a href="{{ url_for('list_offers', clear=1) }}">Reset pretrage</a>
    </p>
</form>

<table class="larg-table">
    <tr>
        <th>Datum</th>
        <th>Broj / ime ponude</th>
        <th>Naziv musterije</th>
        <th>Vrednost ponude</th>
        <th>Actions</th>
    </tr>
    {% for o in offers %}
    <tr>
        <td style="text-align: center; width: 80px;">{{ o.date | format_date }}</td>
        <td>
            <a href="{{ url_for('edit_offer', offer_id=o.id) }}">{{ o.offer_number or o.id }}</a>
        </td>
        <td>{{ o.client_name }}</td>
        <td style="width: 100px;">
            {% if o.total_gross is not none %}
            {{ format_amount(o.total_gross)}} {{ o.currency or '' }}
            {% endif %}
        </td>
        <td style="text-align: center; width: 200px;">
            <form method="post" action="{{ url_for('duplicate_offer', offer_id=o.id) }}" style="display:inline;"
                onsubmit="return confirm('Duplirati ovu ponudu?');">
                <button type="submit">Duplicate</button>
            </form>
            |
            <a href="{{ url_for('offer_pdf', offer_id=o.id) }}" target="_blank">
                PDF Print
            </a> |
            <form method="post" action="{{ url_for('delete_offer', offer_id=o.id) }}" style="display:inline;"
                onsubmit="return confirm('BRISANJE ponude!!! NIJE moguce vracanje nakon BRISANJA!!!.');">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}