<div class="footer-wrapper">
    <table style="width:100%; border-collapse: collapse;">
        <tr>
            <td style="width:35%; text-align:left;">
                Tel: your company info....<br>
                your company info....<br>
                your company info....
            </td>
            <td style="width:30%; text-align:center; vertical-align: middle;">
                {% if rig_uri %}
                <img src="{{ rig_uri }}" style="max-height: 35px; margin-bottom: 5px;"><br>
                {% endif %}
                Page <span class="page-num"></span> of <span class="page-count"></span>
            </td>
            <td style="width:35%; text-align:right;">
                your company info....<br>
                your company info....<br>
                VAT: your company info....
            </td>
        </tr>
    </table>
</div>