<table class="header-table"
    style="margin-bottom: 30px; border-bottom: 2px solid var(--brand-blue); padding-bottom: 10px;">
    <tr>
        <!-- Logo -->
        <td style="width:25%; vertical-align:middle;">
            {% if pdf_mode %}
            <img src="{{ logo_uri }}">
            {% else %}
            <img src="{{ url_for('app_asset', filename='logo_company.jpg') }}">
            {% endif %}
        </td>

        <!-- Right info block -->
        <td style="width:30%; vertical-align:middle; font-size: 8pt; line-height: 1.3;">
            <span style="color: var(--brand-blue); font-weight: bold;">VAT:</span> your company info....<br>
            <span style="color: var(--brand-blue); font-weight: bold;">Company ID:</span> your company info....<br>
            <span style="color: var(--brand-blue); font-weight: bold;">VAT No:</span> your company info....<br>
            <span style="color: var(--brand-blue); font-weight: bold;">Activity Code:</span> your company info....<br>
        </td>

        <!-- Right info block -->
        <td style="width:45%; vertical-align:middle; font-size: 8pt; line-height: 1.3; text-align: right;">
            <strong>Web:</strong> your company info....<br>
            <strong>E-mail:</strong> your company info....<br>
            <strong>Tel:</strong> your company info....<br>
            <strong>Address:</strong> your company info....
        </td>
    </tr>
</table>